out/
.idea/
*.jar
nbproject/private/
build/
nbbuild/
dist/
lib/CodenameOne_SRC.zip

*.p12

*.mobileprovision

iosicon1024.png
cc1.db
cc.db
build.xml
CaosCompanion.iml
icon.png
lib/
manifest.mf
nbproject/
webservice_wizard.cache
chaos.iml
codenameone_kotlin.properties
Keychain.ks